/* BEGIN s-home-15 */
.s-home-15 {
    color: #fff;
    padding: 50px 0;
    background-color: #2a4c68;
    border-top: 2px solid rgb(255 255 255 / 0.1);
    background-image: url(../images/bgs/bg-6.png);
    background-repeat: no-repeat;
    background-size: 42%;
    background-position: 14% 40%;
}
.s-home-15 .s_contact h2 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    border-left: 5px solid #f60;
    padding-left: 10px;
    margin-bottom: 20px;
}
.s-home-15 .s_contact h1 {
    margin-bottom: 10px;
}
.s-home-15 .s_contact .ht-format-detail {
    color: #eaeaea;
}
.s-home-15 .s_contact li {
    padding: 5px 0 10px;
}
.s-home-15 .s_contact a {
    color: inherit;
}
.s-home-15 .s_contact a:hover {
    color: #f60;
}
.s-home-15 .s_social {
    margin: 10px 0 20px;
}
.s-home-15 .c-form-border {
    border-radius: 30px;
    background-color: #fff;
}
.s-home-15 .c-checkbox>label {
    color: #fff;
}
.s-home-15 .c-checkbox>label:hover {
    color: #f60;
}
.s-home-15 .c-checkbox .c_tick .check {
    border: 1px solid #fff;
}

/* END s-home-15 */