/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufA5qW54A.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufJ5qW54A.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufB5qW54A.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufO5qW54A.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufC5qW54A.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufD5qW54A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufA5qW54A.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufJ5qW54A.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufB5qW54A.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufO5qW54A.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufC5qW54A.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufD5qW54A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufA5qW54A.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufJ5qW54A.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufB5qW54A.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufO5qW54A.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufC5qW54A.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufD5qW54A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 15px;
}
.empty {
    background-color: #3a8e00;
}
.sold {
    background-color: #f00;
}
.lease {
    background-color: #0077ff;
}
/* Style chung b-search */
[class*="b-search-"] {
    color: #666;
    font-size: 13px;
    max-width: 300px;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
}
[class*="b-search-"]>input {
    width: 100%;
    color: inherit;
    font-size: 1em;
    padding: 0 5px 0 7px;
    line-height: normal;
    border: none;
    background-color: transparent;
}
[class*="b-search-"]>input::-webkit-input-placeholder {
    color: #999;
}
[class*="b-search-"]>input::-moz-placeholder {
    color: #999;
}
[class*="b-search-"]>input:-moz-placeholder {
    color: #999;
}
[class*="b-search-"]>input:-ms-input-placeholder {
    color: #999;
}
[class*="b-search-"]>input:focus {
    outline: none;
}
[class*="b-search-"]>button {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    font-size: 1em;
    box-shadow: none;
    line-height: 0;
}
[class*="b-search-"]>button i {
    line-height: inherit;
}

/* BEGIN b-search-2 */
.b-search-2 {
    border: 1px solid #ddd;
}
.b-search-2>button {
    border-radius: 2px;
}
.b-search-2>button[class] {
    font-size: 0.924em;
    padding: 1em 0.584em 1em 0.584em;
    margin: 2px 2px 2px 0;
}
.b-search-2>button:not([class]) {
    color: inherit;
    padding: 1.077em 0.616em 1.077em 0.616em;
    background-color: transparent;
}

/* END b-search-2 */
/* Style chung s-header */
.hd-logo {
    line-height: 0;
}

.hd-menu h2 {
    font-size: inherit;
    font-weight: inherit;
}

a[ht-trigger="hd-menu"] {
    display: none;
    font-size: 14px;
    line-height: 1;
    padding: 0.5em;
    text-transform: uppercase;
    border: 1px solid;
}
a[ht-trigger="hd-menu"] i:first-child {
    float: left;
}
a[ht-trigger="hd-menu"] i:last-child {
    float: right;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
/* BEGIN s-header-13 */
.s-header-13 .s_top {
    padding: 10px 0;
}
.s-header-13 .hd-logo, .s-header-13 .hd-slogan {
    font-size: 14px;
}
.s-header-13 .hd-logo img {
    height: 5em;
}
.s-header-13 .hd-slogan {
    letter-spacing: 0.5px;
    margin-left: 3.572em;
}
.s-header-13 .hd-slogan>div:first-child {
    color: #2a4c68;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.s-header-13 .hd-slogan>div:last-child {
    color: #888;
    font-size: 18px;
    font-weight: 300;
}
.s-header-13 .hd-info {
    margin-left: auto;
}
.s-header-13 .hd-info li {
    display: inline-block;
    border-right: 1px solid #ddd;
    padding-right: 30px;
    margin-right: 30px;
}
.s-header-13 .hd-info li i {
    color: #888;
    margin-right: 7px;
}
.s-header-13 .hd-info li span {
    display: block;
    text-align: right;
}
.s-header-13 .hd-info li span:first-child {
    color: #444;
    font-size: 15px;
    font-weight: 300;
}
.s-header-13 .hd-info li span:last-child a {
    font-size: 17px;
}
.s-header-13 .hd-social {
    line-height: 0;
}
.s-header-13 .hd-social li {
    display: inline-block;
}
.s-header-13 .hd-social li a {
    font-size: 18px;
}
.s-header-13 .hd-social li+li {
    margin-left: 5px;
}
.s-header-13 .s_bot {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, transparent 70%, #2a4c68 30%) repeat scroll 0 0;
    border-bottom: 6px solid #2a4c68;
}
.s-header-13 .hd-domain {
    color: #2a4c68;
    font-size: 11px;
    padding-top: 6px;
    font-weight: 500;
    text-transform: uppercase;
}
.s-header-13 .hd-box {
    padding-top: 5px;
    min-width: calc(85% - 16px);
    justify-content: flex-end;
    background-color: #2a4c68;
    position: relative;
}
.s-header-13 .hd-box::before {
    content: '';
    border-top: 50px solid transparent;
    border-right: 50px solid #2a4c68;
    position: absolute;
    left: -50px;
}
.s-header-13 .hd-menu {
    /* margin-right: auto; */
}
.s-header-13 .hd-menu>ul>li {
    display: inline-block;
    position: relative;
}
.s-header-13 .hd-menu>ul>li>a {
    display: block;
    color: #d1eaff;
    font-size: 15px;
    padding: 10px 14px 9px;
    text-transform: uppercase;
}
.s-header-13 .hd-menu>ul>li:last-child a{
    padding-right: 0;
}
.s-header-13 .hd-menu>ul>li>a:nth-last-child(2) h2::after {
    content: '\f107';
    font-family: FontAwesome;
    margin-left: 10px;
    float: right;
}
.s-header-13 .hd-menu>ul>li>ul {
    visibility: hidden;
    min-width: 200px;
    background-color: #2a4c68;
    border-top: 2px solid #2d5a80;
    z-index: 2000;
    position: fixed;
}
.s-header-13 .hd-menu>ul>li>ul>li:not(:last-child) {
    border-bottom: 1px solid rgb(255 255 255 / 8%);
}
.s-header-13 .hd-menu>ul>li>ul>li a {
    display: block;
    padding: 10px 25px 10px 15px;
    text-transform: uppercase;
    color: #d1eaff;
}
.s-header-13 .hd-menu>ul>li>ul>li a::before {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 0.858em;
    color: #ccc;
    margin-right: 6px;
    position: relative;
    top: -1px;
}
.s-header-13 .hd-menu>ul>li>ul>li:hover>a {
    background-color: #2b5271;
    color: #fff;
}
.s-header-13 .hd-menu>ul>li.is-active>a {
    color: #fff;
}
.s-header-13 .hd-menu>ul>li:not(.no-hover):hover>a {
    color: #fff;
}
.s-header-13 .hd-menu>ul>li:not(.no-hover):hover>ul {
    visibility: visible;
    position: absolute;
    top: 40px;
    -webkit-animation: slide-up 0.3s;
    -o-animation: slide-up 0.3s;
    animation: slide-up 0.3s;
}
.s-header-13 .hd-menu>ul>li>ul li>ul {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: -1px;
    border: 1px solid rgb(255 255 255 / 0.1);
}
.s-header-13 .hd-menu>ul>li>ul li>ul li{
    border-bottom: 1px solid rgb(255 255 255 / 8%);
}
.s-header-13 .hd-menu>ul>li>ul li>ul li:hover a {
    background-color: #305b7e;
    color: #fff;
}
.s-header-13 .b-search-2 {
    width: 170px;
    margin-left: 30px;
    background-color: initial;
}
.s-header-13 .b-search-2>input {
    background-color: #fff;
}
.s-header-13 .b-search-2>button:not([class]) {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

/* END s-header-13 */
/* BEGIN s-sidebar-4 */
.s-sidebar-4 {
    border: 1px solid #eee;
}
.s-sidebar-4 .s_heading {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
    background-color: #2a4c68;
    box-shadow: 0 0 0 1px #2a4c68;
}
.s-sidebar-4 .s_heading::before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-weight: normal;
    margin-right: 10px;
}
.s-sidebar-4 form {
    padding: 15px;
}
.s-sidebar-4 form>h3 {
    font-size: 16px;
    color: #2a4c68;
    font-weight: 500;
}
.s-sidebar-4 form button {
    width: 100%;
}
.s-sidebar-4 .s_list {
    background-color: #f4faff;
    padding: 20px 20px 5px;
}
.s-sidebar-4 .s_list>h2 {
    font-size: 15px;
    color: #2a4c68;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 14px;
    position: relative;
}
.s-sidebar-4 .s_list>h2::after {
    content: '';
    width: 40px;
    height: 3px;
    background-color: #f60;
    z-index: 3;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.s-sidebar-4 .s_list ul {
    margin-bottom: 15px;
}
.s-sidebar-4 .s_list ul li {
    margin-bottom: 8px;
}
.s-sidebar-4 .s_list ul li a {
    font-size: 15px;
    color: #666;
    position: relative;
    transition: all 0.3s;
}
.s-sidebar-4 .s_list ul li a::before {
    content: '\f105';
    font-family: FontAwesome;
    font-weight: bold;
    font-size: 10px;
    color: #888;
    margin-right: 7px;
    position: relative;
    top: -2px;
}
.s-sidebar-4 .s_list ul li a:hover {
    color: #2a4c68;
}
/* END s-sidebar-4 */
/* BEGIN c-radio */
.c-radio {
    display: block;
    line-height: 1;
    margin: 0.715em 0 0.715em 0;
    position: relative;
    z-index: 2;
}
.c-radio label {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    color: #666666;
    position: relative;
}
.c-radio label>span:not(.c_tick) {
    font-size: 1em;
    line-height: 1.42857143;
}
.c-radio label:hover {
    color: #2a4c68;
}
.c-radio .c_tick {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid #666666;
    border-radius: 100%;
    margin: 0 0.358em 0.072em 0;
    width: 1.072em;
    height: 1.072em;
}
.c-radio .c_tick::before {
    content: '';
    display: block;
    border-radius: 100%;
    background-color: #2a4c68;
    width: 1.072em;
    height: 1.072em;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.c-radio input[type=radio] {
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.c-radio input[type=radio]:checked~.c_tick {
    border-color: #2a4c68;
    opacity: 1;
}
.c-radio input[type=radio]:checked~.c_tick::before {
    opacity: inherit;
}
.c-radio input[type=radio]:checked+.c_tick::before {
    -webkit-transform: scale3d(0.65, 0.65, 1);
    -moz-transform: scale3d(0.65, 0.65, 1);
    -o-transform: scale3d(0.65, 0.65, 1);
    -ms-transform: scale3d(0.65, 0.65, 1);
    transform: scale3d(0.65, 0.65, 1);
}
.c-radio input[type=radio][disabled]~.c_tick {
    border-color: #000;
    opacity: 0.26;
}
.c-radio input[type=radio][disabled]~.c_tick::before {
    opacity: inherit;
}

/* END c-radio */
/* BEGIN c-form-border */
/* Copy when using c-form-border */
.c-form-border {
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-transition: border-color 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
}
.c-form-border .c_input {
    padding: 1.215em 1.072em 1.215em 1.072em;
    -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.c-form-border .c_input:focus {
    outline: none;
    border-color: #2a4c68;
}
.c-form-border--icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.c-form-border--icon .c_input {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    z-index: 2;
}
.c-form-border--icon .c_icon {
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.c-form-border--icon .c_icon:first-child {
    padding: 0.5em 0 0.5em 1.072em;
}
.c-form-border--icon .c_icon:nth-child(2) {
    padding: 0.5em 1.072em 0.5em 0;
}
.c-form-border--icon .c_icon:not(.c_icon--top) {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.c-form-border--icon .c_icon--top>i {
    position: relative;
    top: -0.142em;
}
.c-form-border--label .c_label {
    color: #999;
    background-color: #fff;
    pointer-events: none;
    padding: 0 0.358em 0 0.358em;
    z-index: 9;
    position: absolute;
    top: 0.572em;
    left: 0.715em;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}
.c-form-border--label:not(.is-empty) .c_label, .c-form-border--label.is-focused .c_label {
    font-size: 0.786em;
    color: #2a4c68;
    position: absolute;
    top: -0.727em;
}
.c-form-border.is-focused {
    border-color: #2a4c68;
}
.c-form-border.is-error {
    margin-bottom: 1.786em;
    border-color: #f55145;
}
.c-form-border.is-error .c_label {
    color: #f55145 !important;
}
.c-form-border.is-error .c_icon+.c_error {
    left: 0.143em;
    text-align: left;
}
.c-form-border.is-error .c_icon+.c_error>span {
    left: 0;
    margin: 0;
}

/* END c-form-border */
/* Style chung select */
.c-select {
    position: relative;
    margin-bottom: 15px;
}
.c-select.c-form>.c-icons {
    width: 12px;
}
.c-select.c-form>.c_input {
    padding: 0;
}
.c-select>.c_input {
    height: 36px;
    line-height: 36px;
    padding: 0 30px 0 12px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.c-select>.c-icons {
    height: 100%;
    width: 30px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.c-select>.c-icons>i {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.c-select .c_list {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-height: 217px;
    line-height: 20px;
    padding: 5px;
    background-color: #fff;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 10000;
    position: absolute;
    top: 35px;
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}
.c-select.is-focused .c_list {
    opacity: 1;
    visibility: visible;
    top: 40px;
}
.c-select.is-focused>.c-icons i {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: rotate(180deg) translate(50%, 50%);
    transform: rotate(180deg) translate(50%, 50%);
}

/* BEGIN c-select-single */
.c-select .c-radio {
    font-size: 14px;
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 5px;
    border-radius: 3px;
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}
.c-select .c-radio:hover, .c-select .c-radio.is-selected {
    color: #fff;
    background-color: #2a4c68;
    box-shadow: 0 14px 26px -12px rgba(0, 85, 170, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 85, 170, 0.2);
}
.c-select .c-radio label {
    display: block;
    color: inherit;
    padding: 10px 0;
}
.c-select .c-radio label:hover {
    color: #fff;
}

/* END c-select-single */
.s-sidebar-2 {
    border: 1px solid #eee;
    margin-top: 20px;
    background: #fff;
}
.s-sidebar-2 .s_heading {
    font-size: 15px;
    font-weight: 500;
    color: #2a4c68;
    padding: 10px 15px;
    text-transform: uppercase;
    line-height: 25px;
    background-image: linear-gradient(to bottom, rgb(42 76 104 / 0.2), rgba(243, 243, 243, 0.1));
    border-bottom: 1px solid rgb(255 255 255 / 0.1);
}
/* BEGIN b-card-11 */
.b-card-11 {
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-transition: box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
}
.b-card-11 .b_avatar {
    line-height: 0;
    text-align: center;
    margin: 20px 0;
}
.b-card-11 .b_avatar img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid #eee;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, .56), 0 4px 10px 0 rgba(0, 0, 0, .12), 0 4px 10px -5px rgba(0, 0, 0, .2);
}
.b-card-11 .b_author {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #2a4c68;
}
.b-card-11 .b_author>span {
    display: block;
}
.b-card-11 .b_author>span:first-child {
    font-size: 15px;
    text-transform: uppercase;
    color: #c70007;
}
.b-card-11 .b_author>span:last-child {
    font-size: 13px;
    color: #888888;
}
.b-card-11 .b_info {
    padding: 1.072em 1.072em 0.715em 1.072em;
}
.b-card-11 .b_info>li {
    text-align: center;
    margin-bottom: 5px;
    color: #333;
}
.b-card-11 .b_info>li i {
    color: #999;
}
.b-card-11 .b_social {
    text-align: center;
    position: relative;
    padding: 15px 0 5px;
    margin-top: 20px;
    border-top: 1px solid #eee;
}
.b-card-11 .b_hotline {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 12px 0;
    margin-bottom: 15px;
}
.b-card-11 .b_hotline:before, .b-card-11 .b_hotline:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(7, 7, 7, 0)), color-stop(50%, #dbdbdb), to(rgba(255, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(7, 7, 7, 0), #dbdbdb 50%, rgba(255, 0, 0, 0));
}
.b-card-11 .b_hotline:before {
    top: 0;
}
.b-card-11 .b_hotline:after {
    bottom: 0;
}
.b-card-11 .b_hotline>i {
    color: #fff;
    margin-right: 4px;
    font-size: 17px;
    background: #f60;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-card-11 .b_hotline>span {
    display: block;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 1px;
    color: #f60;
}
/* END b-card-11 */

/* BEGIN s-sidebar-2 */
.s-sidebar-2 .s_heading::before {
    font-family: FontAwesome;
    content: '\f0c0';
    color: #f60;
    margin-right: 5px;
}
.s-sidebar-2 .s_list li a, .s-sidebar-2 .s_news li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #333;
    font-size: 13px;
    padding: 15px;
    margin-top: 1px;
    text-transform: uppercase;
    background-color: #B0BCCD;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.s-sidebar-2 .s_list li a::before, .s-sidebar-2 .s_news li a::before {
    content: '\f1ce';
    font-family: FontAwesome;
    font-size: 0.616em;
    padding-top: 0.375em;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.s-sidebar-2 .s_list li a h2, .s-sidebar-2 .s_news li a h2 {
    margin-left: 7px;
    font-size: inherit;
}
.s-sidebar-2 .s_list li a:hover, .s-sidebar-2 .s_news li a:hover {
    color: #fff;
    background-color: #c70007;
}
.s-sidebar-2 .s_list li a:hover::before, .s-sidebar-2 .s_news li a:hover::before {
    color: #c70007;
}
.s-sidebar-2 .s_news {
    border: none;
    background-color: transparent;
    padding: 15px;
}
.s-sidebar-2 .s_news .b_avatar {
    font-size: 10px;
    margin-top: 0;
}
.s-sidebar-2 .s_news .b_avatar img {
    border-color: #B0BCCD;
}
.s-sidebar-2 .s_news .b_info {
    padding: 0;
}
.s-sidebar-2 .s_news .b_info li {
    text-align: left;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 10px;
}
.s-sidebar-2 .s_news .b_info li>span:first-child {
    color: #666;
    font-size: 14px;
}
.s-sidebar-2 .s_news .b_info li>span:last-child {
    font-size: 16px;
    color: #2a4c68;
}
/* END s-sidebar-2 */
/* BEGIN s-sidebar-5 */
.s-sidebar-5 {
    border: 1px solid #eee;
    margin-top: 20px;
}
.s-sidebar-5 .s_heading {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
    background-color: #2a4c68;
    box-shadow: 0 0 0 1px #2a4c68;
}
.s-sidebar-5 .s_heading::before {
    content: '\f015';
    font-family: FontAwesome;
    font-weight: normal;
    margin-right: 10px;
}
.s-sidebar-5>ul li>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    color: #2a4c68;
    padding: 13px 15px;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.s-sidebar-5>ul li>div a::before {
    content: '\f105';
    font-family: FontAwesome;
    color: #999;
}
.s-sidebar-5>ul li>div a h2 {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    margin-left: 7px;
}
.s-sidebar-5>ul li>div a:hover {
    color: #f60;
}
.s-sidebar-5>ul li>div span{
    margin-left: auto;
    background-color: #f5f5f5;
    cursor: pointer;
    padding: 0px 8px;
}
.s-sidebar-5>ul li>ul {
    display: none;
}
.s-sidebar-5>ul li>ul::-webkit-scrollbar {
    width: 5px;
}
.s-sidebar-5>ul li>ul::-webkit-scrollbar-track {
    background-color: #eee;
}
.s-sidebar-5>ul li>ul::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
}
.s-sidebar-5>ul li>ul a {
    padding: 8px 15px;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.s-sidebar-5>ul li>ul a h2{
    font-size: 14px;
    font-weight: 500;
    color: #444;
}
.s-sidebar-5>ul li>ul a::before {
    content: '\f10c';
    font-size: 8px;
    position: relative;
    top: 1px;
    margin-right: 5px;
    font-family: FontAwesome;
    color: #999;
}
.s-sidebar-5>ul li:last-child a {
    border-bottom: none;
}
.s-sidebar-5>ul li.is-active > div a {
    color: #f60;
}
.s-sidebar-5>ul li.is-active{
    background-color: #f3f3f3;
}
.s-sidebar-5>ul li.is-active>ul {
    display: block;
    background-color: #f5f5f5;
}
.s-sidebar-5>ul li>ul li:hover a h2{
    color: #f60;
}
/* END s-sidebar-4 */
/* BEGIN c-headline-9 */
.c-headline-9 {
    text-align: center;
    margin-bottom: 30px;
    z-index: 9;
    position: relative;
}
.c-headline-9 .c_name {
    font-size: 30px;
    line-height: 46px;
    color: #2a4c68;
    font-weight: 500;
    text-transform: capitalize;
    transition: color 0.4s ease;
}
.c-headline-9 a:hover .c_name {
    color: #f60;
}
.c-headline-9 .c_sub {
    display: inline-block;
    font-size: 17px;
    line-height: 16px;
    color: #666666;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    padding: 0 60px;
}
.c-headline-9 .c_sub:after,
.c-headline-9 .c_sub:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    background: #f60;
}
.c-headline-9 .c_sub:before {
    left: 0;
}
.c-headline-9 .c_sub:after {
    right: 0;
}
/* END c-headline-9 */
/* BEGIN b-card-53 */
.b-card-53 {
    display: block;
    margin-bottom: 30px;
    height: calc(100% - 30px);
}
.b-card-53 .b_thumb {
    border-radius: 10px;
    overflow: hidden;
}
.b-card-53 .b_thumb:before {
    position: inherit;
    top: 50%;
    left: 50%;
    content: "";
    transform: translateX(-50%);
    width: 25%;
    height: 25%;
    opacity: 0;
    transition: all 0.25s ease;
    background-color: rgba(25, 48, 89, 0.3);
    z-index: 99;
}
.b-card-53:hover .b_thumb:before {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.b-card-53 .b_thumb:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    content: "";
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 99;
}
.b-card-53:hover .b_thumb:after {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
}
.b-card-53 .b_multi {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255 255 255 / 0.7);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.b-card-53 .b_multi li {
    display: inline-block;
}
.b-card-53 .b_multi li span.fa {
    padding-left: 25px;
    color: #666;
    font-weight: 300;
}
.b-card-53 .b_multi li span.fa::before {
    font-size: 17px;
    color: #2a4c68;
}
.b-card-53 .status {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: #fff;
    padding: 3px 8px;
    border-radius: 0 8px;
}
.b-card-53 .b_title {
    font-size: 18px;
    font-weight: 500;
    color: #2a4c68;
    line-height: 1.125em;
    margin: 15px 0 10px;
    -webkit-transition: 0.3s color ease-in-out;
    -o-transition: 0.3s color ease-in-out;
    transition: 0.3s color ease-in-out;
}
.b-card-53:hover .b_title {
    color: #f60;
}
.b-card-53 .b_address {
    color: #999
}
.b-card-53 .b_address i {
    color: #f60;
}
.b-card-53 .b_price {
    color: #666;
    margin-top: 8px;
}
.b-card-53 .b_price span {
    color: #f60;
    font-weight: 500;
    font-size: 16px;
}
/* END b-card-53 */
/* BEGIN b-card-44 */
.b-card-44 {
    display: block;
    margin-bottom: 20px;
}
.b-card-44 a {
    display: block;
}
.b-card-44 .b_content {
    margin: -40px 10px 0;
    padding: 20px;
    border: 1px solid #eee;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.b-card-44 .b_title {
    font-size: 16px;
    font-weight: 500;
    color: #2a4c68;
    margin: 0px 0 15px;
    position: relative;
    text-align: left;
    transition: all 0.4s ease;
}
.b-card-44 .b_title:hover {
    color: #f60;
}
.b-card-44 .b_title::before,
.b-card-44 .b_title:after {
    content: "";
    width: 15px;
    height: 2px;
    position: absolute;
    bottom: -6px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.b-card-44 .b_title:before {
    left: 8px;
    background-color: #f60;
}
.b-card-44 .b_title:after {
    left: 30px;
    background-color: #d6e1ea;
    width: 30px;
}
.b-card-44 .status {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: #fff;
    padding: 3px 8px;
    border-radius: 0 8px;
}
.b-card-44 .b_price, .b-card-44 .b_acreage {
    color: #666;
    margin-bottom: 5px;
}
.b-card-44 .b_price span {
    color: #f60;
    font-weight: 500;
    font-size: 16px;
}
.b-card-44 .b_desc {
    text-align: justify;
    padding-left: 10px;
    border-left: 1px dotted #ccc;
    color: #444;
    font-weight: 300;
    font-size: 14px;
    margin-top: 8px;
}
.b-card-44 .b_thumb {
    position: relative;
}
.b-card-44 .b_thumb .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    transition: all 0.5s ease;
    opacity: 0;
}
.b-card-44 .b_thumb:hover .overlay {
    opacity: 1;
}
.b-card-44 .b_thumb .overlay div {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.b-card-44 .b_thumb:hover .overlay div {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate(-50%, -150%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
/* END b-card-44 */

/* BEGIN c-animate-loopflicker */
.c-animate-loopflicker {
    -webkit-animation: loopflicker 1s infinite;
    -o-animation: loopflicker 1s infinite;
    animation: loopflicker 1s infinite;
}

@keyframes loopflicker {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    60% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
/* END c-animate-loopflicker */
/* BEGIN s-footer-5 */
.s-footer-5 .s_top {
    padding: 30px 0;
    background: linear-gradient(#fff, rgb(42 76 104 / 0.1));
    border-top: 5px solid #f7fcff;
}
.s-footer-5 .s_top a[rel="nofollow"] img {
    height: 50px;
}
.s-footer-5 .c-headline-4 {
    margin: 10px 0 15px;
}
.s-footer-5 .c-headline-4::after {
    margin-top: 5px;
}
.s-footer-5 .ft-menu li {
    display: inline-block;
    width: calc((100% / 2) - 12px);
    color: inherit;
    font-size: 14px;
    margin: 0 10px 10px 0;
}
.s-footer-5 .ft-menu li.line {
    width: 100%;
    margin-right: 0;
}
.s-footer-5 .ft-menu li>h1, .s-footer-5 .ft-menu li>h2 {
    font-size: 16px;
    font-weight: inherit;
    color: #2a4c68;
}
.s-footer-5 .ft-menu li a {
    display: inline-block;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.s-footer-5 .ft-menu li a>span::before {
    content: '\f105';
    font-family: FontAwesome;
    font-size: inherit;
    color: #ccc;
    margin-right: 5px;
}
.s-footer-5 .ft-menu li a:hover {
    color: #f60;
}
.s-footer-5 .ft-menu li>span {
    line-height: 20px;
}
.s-footer-5 .ft-menu li>span:not(:last-child) {
    margin-right: 20px;
}
.s-footer-5 .ft-menu li>span.fa::before {
    width: 15px;
    color: #ccc;
    text-align: center;
}
.s-footer-5 .ft-menu li span::before, .s-footer-5 .s_top a:hover {
    color: #999 !important;
}
.s-footer-5 .ft-social {
    line-height: 0;
    margin: 13px 0 10px;
}
.s-footer-5 .s_bot {
    background-color: #2a4c68;
}
.s-footer-5 .ft-copyright {
    padding: 10px 0;
}
.s-footer-5 .ft-phone {
    color: #fff;
    text-align: center;
    z-index: 111111;
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.s-footer-5 .ft-phone i {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid;
    border-radius: 50%;
    background-color: #f60;
}
.s-footer-5 .ft-phone span {
    margin-left: 0;
    line-height: 1;
    border: 1px solid;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #f60;
    position: relative;
    left: -5px;
}
.s-footer-5 .ft-phone span {
    background-color: #f60;
    margin-left: 0;
    line-height: 1;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    position: relative;
    left: -5px;
}

/* END s-footer-5 */
/* BEGIN s-icon-2 */
.s-icon-2>a:first-child {
    opacity: 0;
    font-size: 20px;
    border: 1px solid #ddd;
    background-color: rgba(204, 204, 204, 0.5);
    z-index: 111111;
    position: fixed;
    right: 23px;
    bottom: calc(60% - 1em);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.s-icon-2>a:first-child.is-show {
    opacity: 1;
    bottom: 125px;
}
.s-icon-2>a:last-child {
    position: fixed;
    right: 22px;
    bottom: 80px;
    z-index: 111111;
    line-height: 0;
}
.s-icon-2>a:last-child span {
    font-size: 20px;
}
.s-icon-2>a:last-child span::before, .s-icon-2>a:last-child span::after {
    content: '';
    opacity: 0;
    width: calc(100% + 1.334em);
    height: calc(100% + 1.334em);
    margin: -0.666em;
    border-radius: 3px;
    background-color: #05a;
    border-radius: 3px;
    z-index: -1;
    position: absolute;
    -webkit-animation: ripple 1.5s infinite;
    animation: ripple 1.5s infinite;
}
.s-icon-2>a:last-child span::after {
    animation-delay: .3s !important;
    -webkit-animation-delay: .3s !important;
}
.s-icon-2>a:last-child span img {
    position: absolute;
}

@keyframes ripple {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* END s-icon-2 */
.fb_dialog_content iframe {
    right: -6px !important;
    bottom: 6px !important;
}
/* Style chung s-pagination */
[class*="s-pagination-"] {
    padding: 25px 0 35px;
    font-size: 12px;
}
[class*="s-pagination-"]::after {
    content: '';
    display: table;
    clear: both;
}
[class*="s-pagination-"]>li {
    display: inline-block;
    margin: 0 2px;
    border: 1px solid #ddd;
    line-height: 2.334em;
    width: 2.5em;
    height: 2.5em;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
[class*="s-pagination-"]>li>a {
    display: block;
    color: #999;
    font-weight: bold;
    text-align: center;
}
[class*="s-pagination-"]>li:hover {
    background-color: #eee;
    color: #999;
}
[class*="s-pagination-"]>li.active {
    background-color: #2a4c68;
    border: 1px solid #2a4c68;
}
[class*="s-pagination-"]>li.active>a {
    color: #fff;
}

/* BEGIN s-pagination-2 */
.s-pagination-2>li {
    border-radius: 50%;
}

/* END s-pagination-2 */
@media screen and (min-width: 768px) {
    .s-footer-5 .ft-info {
        position: relative;
        padding-left: 2%;
    }
    .s-footer-5 .ft-info::before {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255, 0, 0, 0);
        background-image: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), #ccc 50%, rgba(255, 0, 0, 0));
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #ccc 50%, rgba(255, 0, 0, 0));
    }
}
@media screen and (min-width: 1260px) {
    .s-header-13 .hd-menu>ul>li>ul li:hover>ul {
        opacity: 1;
        visibility: visible;
        position: absolute;
        background-color: #2b5271;
        min-width: 230px;
        left: 100% !important;
    }
}
@media screen and (max-width: 1259px) {
    .s-header-13 .s_top {
        padding: 7px 0;
    }
    .s-header-13 .s_bot {
        background: #2a4c68;
    }
    .s-header-13 .hd-box {
        width: 100%;
    }
    .s-header-13 .hd-box::before {
        content: initial;
    }
    .s-header-13 .hd-logo, .s-header-13 .hd-slogan {
        font-size: 10px;
    }
    .s-header-13 .hd-info {
        font-size: 13px;
    }
    .s-header-13 .hd-domain {
        display: none;
    }
    .s-header-13 .hd-menu {
        position: relative;
    }
    .s-header-13 .hd-menu>a[ht-trigger="hd-menu"] {
        display: block;
        color: #fff;
    }
    .s-header-13 .hd-menu>ul {
        visibility: hidden;
        width: 250px;
        position: absolute;
        top: 35px;
        z-index: 99;
        right: 0;
    }
    .s-header-13 .hd-menu>ul>li {
        display: block;
        background-color: #2a4c68;
    }
    .s-header-13 .hd-menu>ul>li>ul {
        display: none;
    }
    .s-header-13 .hd-menu>ul>li:not(.no-hover):hover>ul {
        min-width: 100%;
        display: block;
    }
    .s-header-13 .hd-menu>ul.is-active {
        visibility: visible;
        -webkit-animation: slide-up 0.3s;
        -o-animation: slide-up 0.3s;
        animation: slide-up 0.3s;
    }
    .s-header-13 .hd-menu > ul > li > ul li {
        position: relative;
    }
    .s-header-13 .hd-menu > ul > li > ul li > ul {
        top: 0;
        width: 250px;
        display: none;
        visibility: visible;
        opacity: 1;
        position: relative;
        border: none;
        border-bottom: 1px solid #e5e5e5;
    }
    .s-header-13 .hd-menu >ul > li ul li > span {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 40px;
        font-size: 12px;
        cursor: pointer;
        z-index: 1111;
        color: #fff;
    }
    .s-header-13 .b-search-2{
        position: absolute;
        left: 0;
        top: 81px;
        z-index: 999;
        margin-left: 10px;
    }
    .s-footer-5 .ft-logo{
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .s-header-13 .hd-slogan, .s-header-13 .hd-social {
        display: none;
    }
    .s-header-13 .b-search-2{
        top: 69px;
    }
    .s-sidebar-5{
        margin-bottom: 30px;
    }
    .s-sidebar-5>ul{
        display: none;
    }
    .s-sidebar-5 .s_heading::after {
        content: '\f107';
        font-family: FontAwesome;
        font-weight: normal;
        margin-right: 10px;
        float: right;
        font-size: 20px;
    }
    .s-sidebar-5>ul li>div a{
        display: block;
        width: 100%;
    }
    .s-sidebar-2{
        display: none;
    }

}
@media screen and (max-width: 767px) {
    .s-header-13 .hd-info li:first-child, .s-header-13 .hd-cart i+span {
        display: none;
    }
    .s-header-13 .hd-info li {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
    }
}
